/*Estilo de Schwarkopf*/

.contenedor-1{
    margin: 10px;
}
.info-tintura{
    padding:10px;
    margin:10px;
    text-align: center;
    font-size: 25px
}
.cont-fidelite{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
    padding: 20px;
    margin: 10px;
    background-color:$grismuyclaro;

    .cont-foto{
        background-color:$blanco;
        display: block;
        align-items: flex-end;
        align-content: flex-end;
        border-radius: 5px;
        margin: 20px; 

        img{
            width: 200px;
            height: 200px;
            border-radius: 10px;
            
        }
        .descrip1 p {
            display: block;
            justify-content: center;
            align-items: center;
            
        }
        .boton  a{
            display: block;
            justify-content: center;
            text-decoration: none;
            color:$azul;
            font-size: 25px;
            text-align: center;
            font-weight:border ;
            background-color:rgba(209, 213, 219, );
            border-radius: 10px;
            margin: 5px;
            transition: transform 0.3s ease;
        
            
        }
        a:hover {
            transform: scale(1.1);
            color: $celesteboton ;
        }
          
    }
        
}