/*Estilo de Nosotros*/

.texto-nosotros {

    padding-bottom:30px;
    padding-left: 10px;
    margin:10px;

    p{
        font-size: 20px;
    }
}

.baner{
  
    background-image: url('/imagen/foto\ de\ Pelu.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: 110%;
    background-position:center;
    margin: 10px;
    animation: mover 4s ease-in-out infinite alternate; 
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        color:$blanco;
        font-size: 40px;
      
    }

   
}
 @keyframes mover {
  0% {
    background-size: 110%;
    background-position: center;
  }
  100% {
    background-size: 115%;
    background-position: center center;
  }
}



