
/*Estilo de Productos*/

.container{
    display: flex;
    justify-content: space-around;
    background-color: $crema;
    

    .card1{
        margin: 20px;

        .card-img-top {
            width: 100%;
            height: auto;
            object-fit:contain;
            display: block;
            max-height: 300px;
        }

        
        .card-body h2{
            color: $verdefooter;
            font-size: 36px ; 
            text-align: center;
            
        }
        p.card-text{
            text-align: center;
            color: $azul;
        }
        .botones{ 
          display: flex;
          justify-content: center;
          margin: 20px;
         
        }

    }
    .card2{
        @extend .card1;
       
        
    }
    .card3{
        @extend .card1;
        
    }
    
    
}